@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
  .nav {
    @apply relative;
  }

  .nav:hover {
    @apply text-blue-500;
  }

  .nav::after {
    @apply block content-[''];
    background-color: #3b82f6;
    height: 3px;
    width: 0%;
    left: 0;
    bottom: -5px;
    border-radius: 0.75rem;
    position: absolute;
    transition-duration: 0.3s;
  }

  .nav:hover::after {
    @apply w-full;
  }
}


@import url('https://fonts.googleapis.com/css2?family=Bitter:ital,wght@0,100..900;1,100..900&family=IBM+Plex+Serif:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;1,100;1,200;1,300;1,400;1,500;1,600;1,700&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

body {
  font-family: 'Bitter', 'IBM Plex Serif', 'Roboto', sans-serif;
}